@import url("https://fonts.googleapis.com/css?family=Lato|Raleway");

html, body {
    height: 100%;
}

body {
    background-color: #f2f2f2;
    font-family: "Lato", SansSerif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
	margin-top: 70px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

a {
    color: #f85c37;
}

a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
	margin-bottom: 20px;
}

.navbar-inverse {
    background: #2d2d2d;
    border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: lightskyblue;
}

.navbar-inverse .navbar-brand {
    color: #999;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
}

.sidenav {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
	color: white;
	text-decoration: none;
}

a.btn.btn-default.btn-sm {
    margin-left: 30px;
}

a.btn.btn-default.btn-sm:hover {
	cursor: pointer;
	background-color: #48E1E8;
}

a>img {
	padding: 2em;
} 

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#main-section {
	margin-top: -10px;
    padding-top: 20px;
	text-align: center;
	min-height: 600px;
	width: 100%;
	height: calc(100% - 100px);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#main-sidebar {
    list-style: none;
    padding-left: 0;
}

#main-sidebar li a {
    width: 100%;
    padding: 11px 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    font-size: 16px;
    font-weight: 600;
}

#main-sidebar li a:hover {
    background: #f4f3f3;
}



#main-section h1 {
	margin-top: 150px;
	color: white;
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 3px;
}

#footer {
	padding-bottom: 20px;
	padding-top: 30px;
	background-color: #CEE0CC;
	min-height: 100px;
}

#f span {
	color: #bdbdbd;
	font-size: 30px;
}

#f span:hover {
	color: #ff7878;
}

#main-graphic {
    margin-top: 110px;
}

#main-graphic img {
    margin: 30px;
    width: calc(100% - 200px);
}